{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<h3 class="mb-3">
    <i class="bi bi-info-circle"></i> Tentang Aplikasi
</h3>

<div class="card shadow-sm p-4">

    <p><strong>Lampung Timur Report</strong> adalah aplikasi Smart City berbasis web yang digunakan untuk mengelola laporan masyarakat.</p>

    <p>Fitur utama:</p>
    <ul>
        <li>Tambah laporan</li>
        <li>Monitoring status laporan</li>
        <li>Manajemen data laporan</li>
    </ul>

</div>

{% endblock %}